* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
  font-size: 14px;
  color: #eeeeee;
}

body {
  background-color: #222831;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.container-fluid {
  width: 100%;
}

section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.logo {
  font-size: 36px;
  font-weight: 800;
  color: #76abae;
  font-style: italic;
}

h1,
.banner-title {
  font-size: 78px;
  line-height: 120%;
  font-weight: 900;
  margin-bottom: 30px;
}

h2,
h3,
.section-title {
  font-size: 48px;
  line-height: 120%;
  font-weight: 900;
  margin-bottom: 25px;
  text-align: center;
}

.section-subtitle {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  margin-bottom: 45px;
  text-align: center;
}

.circle-avatar {
  border-radius: 1000px;
  width: 180px;
  height: 180px;
}

.btn,
.nav-menu {
  border: 0;
  border-radius: 100px;
  outline: 0;
  font-size: 18px;
  font-weight: 600;
  padding: 16px 40px;
}

.btn-primary,
.nav-menu-active {
  background-color: #76abae;
  color: black;
}

.btn-ghost {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.section-bg-dark {
  background-color: #191d24;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
  align-items: center;
}

.flex-top {
  justify-content: center;
  align-items: flex-start;
}

.flex-bottom {
  justify-content: center;
  align-items: flex-end;
}

#main-header {
  height: 100vh;
  max-height: 700px;
  background: linear-gradient(to bottom, #222831, #2c3138, #222831);
}
#main-header .navbar {
  width: 100%;
  max-width: 1060px;
  position: fixed;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main-header .navbar nav {
  width: 35%;
}
#main-header .navbar nav ul {
  display: flex;
  justify-content: space-between;
  padding: 1px;
}
#main-header .navbar nav ul a {
  font-size: 18px;
  padding: 7px 14px;
}
#main-header .hero {
  height: 100%;
}
#main-header .hero .hero__left {
  width: 50%;
  margin-bottom: 5%;
}
#main-header .hero .hero__left p {
  width: 100%;
  text-align: left;
}
#main-header .hero .hero__left .btn-group button + button {
  margin-left: 15px;
}
#main-header .hero .hero__right {
  width: 50%;
  height: 100%;
  position: relative;
  background-image: url("../images/Images 2.png");
  background-repeat: no-repeat;
  background-position: 90% bottom;
}
#main-header .hero .hero__right .stat-1 {
  position: absolute;
  bottom: 20%;
  left: 10%;
  border-radius: 12px;
  background: rgba(48, 48, 48, 0.7);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 20px;
}
#main-header .hero .hero__right .stat-1 > span {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  margin-right: 10px;
  display: block;
  background-color: #76abae;
}
#main-header .hero .hero__right .stat-1 p {
  font-size: 24px;
  font-weight: 900;
}
#main-header .hero .hero__right .stat-2 {
  position: absolute;
  top: 25%;
  right: 0;
  transform: translate(50%);
  border-radius: 12px;
  border-radius: 12px;
  background: rgba(48, 48, 48, 0.7);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 20px;
}
#main-header .hero .hero__right .stat-2 > span {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  margin-right: 10px;
  display: block;
  background-color: #76abae;
}
#main-header .hero .hero__right .stat-2 p {
  font-size: 40px;
  font-weight: 900;
}

#habit .targets .target {
  flex-direction: column;
}
#habit .targets .target img {
  border-radius: 100px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 25px;
}
#habit .targets .target h4 {
  font-size: 18px;
  margin-bottom: 10px;
}
#habit .targets .target span {
  width: 70%;
  line-height: 1.5;
  text-align: center;
}

#run-extra {
  padding: 30px;
  border-radius: 20px;
}
#run-extra h2,
#run-extra p {
  width: 70%;
  margin-left: 0;
  text-align: left;
}

#bmi-calc {
  padding: 60px 0;
}
#bmi-calc h3 {
  font-size: 28px;
  text-align: left;
}
#bmi-calc .bmi-calc__left {
  width: 45%;
}
#bmi-calc .bmi-calc__left td,
#bmi-calc .bmi-calc__left th {
  gap: 0;
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px;
}
#bmi-calc .bmi-calc__left tr {
  border: 1px solid white;
}
#bmi-calc .bmi-calc__right {
  width: 55%;
}
#bmi-calc .bmi-calc__right p {
  width: 100%;
}
#bmi-calc .bmi-calc__right form {
  width: 100%;
}
#bmi-calc .bmi-calc__right form input,
#bmi-calc .bmi-calc__right form select {
  width: 47%;
  background-color: #222831;
  outline: 0;
  border: 0;
  margin-bottom: 15px;
  padding: 18px;
  border-radius: 10px;
}
#bmi-calc .bmi-calc__right form .input-ml {
  margin-left: 13px;
}
#bmi-calc .bmi-calc__right button {
  margin-top: 20px;
  width: 40%;
}
#bmi-calc .bmi-calc__right .section-subtitle {
  margin-left: 0;
  text-align: left;
}

#team {
  border-radius: 12px;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}
#team img {
  box-sizing: content-box;
  border-radius: 10px;
  margin: 8px 8px;
  width: calc(33% - 16px);
}/*# sourceMappingURL=main.css.map */