* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
  font-size: 14px;
  color: #eeeeee;
}

body {
  background-color: #222831;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
@media (max-width: 576px) {
  .container {
    max-width: 1060px;
    padding: 0 20px;
  }
}

.container-fluid {
  width: 100%;
}

section {
  margin-top: 100px;
  margin-bottom: 100px;
}
@media (max-width: 576px) {
  section {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.logo {
  font-size: 36px;
  font-weight: 800;
  color: #76abae;
  font-style: italic;
}

h1,
.banner-title {
  font-size: 78px;
  line-height: 120%;
  font-weight: 900;
  margin-bottom: 30px;
}
@media (max-width: 576px) {
  h1,
  .banner-title {
    font-size: 36px;
    text-align: center;
  }
}

h2,
h3,
.section-title {
  font-size: 48px;
  line-height: 120%;
  font-weight: 900;
  margin-bottom: 25px;
  text-align: center;
}
@media (max-width: 576px) {
  h2,
  h3,
  .section-title {
    font-size: 32px;
  }
}

.section-subtitle {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  margin-bottom: 45px;
  text-align: center;
}
@media (max-width: 576px) {
  .section-subtitle {
    width: 100%;
  }
}

.circle-avatar {
  border-radius: 1000px;
  width: 180px;
  height: 180px;
}

.btn,
.nav-menu {
  border: 0;
  border-radius: 100px;
  outline: 0;
  font-size: 18px;
  font-weight: 600;
  padding: 16px 40px;
}
@media (max-width: 576px) {
  .btn,
  .nav-menu {
    font-size: 16px;
    padding: 12px 30px;
  }
}

.btn-primary,
.nav-menu-active {
  background-color: #76abae;
  color: black;
}

.btn-ghost {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.section-bg-dark {
  background-color: #191d24;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
  align-items: center;
}

.flex-top {
  justify-content: center;
  align-items: flex-start;
}

.flex-bottom {
  justify-content: center;
  align-items: flex-end;
}

#main-header {
  height: 100vh;
  max-height: 700px;
  position: relative;
  background: linear-gradient(to bottom, #222831, #2c3138, #222831);
}
@media (max-width: 576px) {
  #main-header {
    max-height: 100vh;
    height: 100vh;
  }
}
#main-header .navbar {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(44, 49, 56, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 100;
}
#main-header .navbar .container {
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 576px) {
  #main-header .navbar .container {
    height: 80px;
  }
}
#main-header .navbar .container nav {
  width: 35%;
}
#main-header .navbar .container nav ul {
  display: flex;
  justify-content: space-between;
  padding: 1px;
}
@media (max-width: 576px) {
  #main-header .navbar .container nav ul {
    justify-content: flex-end;
  }
}
#main-header .navbar .container nav ul li {
  display: flex;
  align-items: center;
}
@media (max-width: 576px) {
  #main-header .navbar .container nav ul li {
    display: none;
  }
}
#main-header .navbar .container nav ul a {
  font-size: 18px;
  padding: 7px 14px;
}
#main-header .navbar .container nav ul .mobile-menu {
  display: none;
}
@media (max-width: 576px) {
  #main-header .navbar .container nav ul .mobile-menu {
    display: flex;
  }
}
#main-header .hero {
  height: 100%;
}
@media (max-width: 576px) {
  #main-header .hero {
    flex-wrap: wrap;
    margin-top: 150px;
  }
}
#main-header .hero .hero__left {
  width: 50%;
  margin-bottom: 5%;
}
@media (max-width: 576px) {
  #main-header .hero .hero__left {
    width: 100%;
    margin-bottom: 0;
  }
}
#main-header .hero .hero__left p {
  width: 100%;
  text-align: left;
}
@media (max-width: 576px) {
  #main-header .hero .hero__left p {
    text-align: center;
  }
}
#main-header .hero .hero__left .diff {
  font-size: 78px;
  font-family: "Miama", sans-serif;
  font-weight: 400;
}
@media (max-width: 576px) {
  #main-header .hero .hero__left .diff {
    font-size: 36px;
  }
}
#main-header .hero .hero__left .btn-group button + button {
  margin-left: 15px;
}
@media (max-width: 576px) {
  #main-header .hero .hero__left .btn-group {
    justify-content: center;
  }
}
#main-header .hero .hero__right {
  width: 50%;
  height: 100%;
  position: relative;
  background-image: url("../images/Images 2.png");
  background-repeat: no-repeat;
  background-position: 90% bottom;
}
@media (max-width: 576px) {
  #main-header .hero .hero__right {
    height: 70%;
    width: 100%;
  }
}
#main-header .hero .hero__right .stat-1 {
  position: absolute;
  bottom: 20%;
  left: 10%;
  border-radius: 12px;
  background: rgba(48, 48, 48, 0.7);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 20px;
}
#main-header .hero .hero__right .stat-1 > span {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  margin-right: 10px;
  display: block;
  background-color: #76abae;
}
#main-header .hero .hero__right .stat-1 p {
  font-size: 24px;
  font-weight: 900;
}
#main-header .hero .hero__right .stat-2 {
  position: absolute;
  top: 25%;
  right: 0;
  transform: translate(50%);
  border-radius: 12px;
  border-radius: 12px;
  background: rgba(48, 48, 48, 0.7);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 20px;
}
@media (max-width: 576px) {
  #main-header .hero .hero__right .stat-2 {
    transform: translate(0);
  }
}
#main-header .hero .hero__right .stat-2 > span {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  margin-right: 10px;
  display: block;
  background-color: #76abae;
}
#main-header .hero .hero__right .stat-2 p {
  font-size: 40px;
  font-weight: 900;
}

#habit .targets .target {
  flex-direction: column;
}
#habit .targets .target img {
  border-radius: 100px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 25px;
}
#habit .targets .target h4 {
  font-size: 18px;
  margin-bottom: 10px;
}
#habit .targets .target span {
  width: 70%;
  line-height: 1.5;
  text-align: center;
}
@media (max-width: 576px) {
  #habit .targets .target {
    margin-top: 30px;
  }
}
@media (max-width: 576px) {
  #habit .targets {
    flex-wrap: wrap;
  }
}

#run-extra {
  padding: 30px;
  border-radius: 20px;
}
#run-extra h2,
#run-extra p {
  width: 70%;
  margin-left: 0;
  text-align: left;
}
@media (max-width: 576px) {
  #run-extra h2,
  #run-extra p {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 576px) {
  #run-extra > div {
    text-align: center;
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  #run-extra img {
    width: 100%;
  }
}
@media (max-width: 576px) {
  #run-extra {
    flex-wrap: wrap;
    padding: 20px;
    margin: 0 20px;
  }
}

#bmi-calc {
  padding: 60px 0;
}
@media (max-width: 576px) {
  #bmi-calc > div {
    flex-wrap: wrap;
  }
}
#bmi-calc h3 {
  font-size: 28px;
  text-align: left;
}
@media (max-width: 576px) {
  #bmi-calc h3 {
    text-align: center;
  }
}
#bmi-calc .bmi-calc__left {
  width: 45%;
}
@media (max-width: 576px) {
  #bmi-calc .bmi-calc__left {
    width: 100%;
  }
}
@media (max-width: 576px) {
  #bmi-calc .bmi-calc__left table {
    margin-left: auto;
    margin-right: auto;
  }
}
#bmi-calc .bmi-calc__left td,
#bmi-calc .bmi-calc__left th {
  gap: 0;
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px;
  text-align: left;
}
#bmi-calc .bmi-calc__left tr {
  border: 1px solid white;
}
#bmi-calc .bmi-calc__right {
  width: 55%;
}
@media (max-width: 576px) {
  #bmi-calc .bmi-calc__right {
    width: 100%;
    margin-top: 40px;
  }
}
#bmi-calc .bmi-calc__right p {
  width: 100%;
}
#bmi-calc .bmi-calc__right form {
  width: 100%;
}
#bmi-calc .bmi-calc__right form input,
#bmi-calc .bmi-calc__right form select {
  width: 47%;
  background-color: #222831;
  outline: 0;
  border: 0;
  margin-bottom: 15px;
  padding: 18px;
  border-radius: 10px;
}
#bmi-calc .bmi-calc__right form .input-ml {
  margin-left: 13px;
}
#bmi-calc .bmi-calc__right button {
  margin-top: 20px;
  width: 40%;
}
@media (max-width: 576px) {
  #bmi-calc .bmi-calc__right button {
    margin-left: auto;
    margin-right: auto;
  }
}
#bmi-calc .bmi-calc__right .section-subtitle {
  margin-left: 0;
  text-align: left;
}
@media (max-width: 576px) {
  #bmi-calc .bmi-calc__right .section-subtitle {
    text-align: center;
  }
}

#team {
  border-radius: 12px;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}
#team > div {
  position: relative;
  box-sizing: content-box;
  margin: 8px 8px;
  width: calc(33% - 16px);
}
#team > div img {
  border-radius: 10px;
}
@media (max-width: 576px) {
  #team > div img {
    width: 100%;
  }
}
#team > div .trainer-info {
  position: absolute;
  left: 5%;
  bottom: 5%;
}
#team > div .trainer-info .trainer-name {
  font-size: 18px;
  font-weight: 900;
}
@media (max-width: 576px) {
  #team > div {
    width: 100%;
  }
}
@media (max-width: 576px) {
  #team {
    margin-right: 15px;
    margin-left: 15px;
  }
}

footer {
  padding: 80px 0 30px 0;
}
@media (max-width: 576px) {
  footer > div {
    flex-wrap: wrap;
  }
}
footer .copyright {
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 30px;
  text-align: center;
  font-size: 18px;
}
footer .footer__left {
  width: 50%;
  width: 50%;
}
@media (max-width: 576px) {
  footer .footer__left {
    width: 100%;
  }
}
footer .footer__left .logo {
  font-size: 70px;
  display: block;
  margin-bottom: 25px;
}
@media (max-width: 576px) {
  footer .footer__left .logo {
    font-size: 50px;
    text-align: center;
  }
}
footer .footer__left p {
  width: 90%;
  text-align: left;
  margin-left: 0;
}
@media (max-width: 576px) {
  footer .footer__left p {
    text-align: center;
    margin-left: auto;
  }
}
footer .footer__right {
  width: 50%;
}
@media (max-width: 576px) {
  footer .footer__right {
    width: 100%;
  }
}
footer .footer__right h3 {
  text-align: left;
  font-size: 28px;
}
footer .footer__right .footer-menu {
  padding-left: 40px;
  width: 50%;
}
@media (max-width: 576px) {
  footer .footer__right .footer-menu {
    padding-left: 0;
  }
}
footer .footer__right .footer-menu li {
  margin: 12px 0;
}
footer .footer__right .footer-menu a {
  font-size: 18px;
}

#testimonial {
  padding: 20px 0;
  border-radius: 18px;
}
@media (max-width: 576px) {
  #testimonial {
    flex-wrap: wrap;
    margin: 0 15px;
    padding: 10px 0;
    margin-bottom: 50px;
  }
}
#testimonial .testimoni {
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  background-color: #222831;
}
@media (max-width: 576px) {
  #testimonial .testimoni {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
#testimonial .testimoni .client-info {
  margin-bottom: 15px;
}
#testimonial .testimoni .client-info img {
  border: 2px solid #ffffff;
  border-radius: 10px;
  width: 80px;
  margin-right: 20px;
}
#testimonial .testimoni .client-info h4 {
  font-size: 18px;
  margin-bottom: 5px;
}
#testimonial .scale {
  background-color: rgba(118, 171, 174, 0.3490196078);
  transform: scale(1.2);
}
@media (max-width: 576px) {
  #testimonial .scale {
    transform: scale(1);
  }
}/*# sourceMappingURL=main.css.map */